body {
    background-color:gray;
}

h1 {
    text-align: center;
    color: rgb(79, 9, 243);
}

#signUp {
    display: flex;
    justify-content: center;
}
#signUpPage{
    width: 30vw;
    height: 40vw;
    margin-top: 30px;
    background-color:#e8e5e5;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signUpPage input{
    margin:10px 20px;
}
.nameIn{
    display:inline;
    margin: 10px;
}
.nameIn input{
    height: 30px;
    border: solid 1px black;
    border-radius: 5px;
}
#logPas input{
    height: 30px;
    width: 25vw;
    margin: 15px;
    display: flex;
    border: solid 1px black;
    border-radius: 5px;
}
#inputLab label{
    background-color: whitesmoke;
    display: inline;
    margin: 10px 18px;
    padding: 5px 5px;
    border: solid 1px black;
    border-radius: 5px;
} 
#birtday{
    width: 25vw;
    display: inline;
    margin:15px 0;
    padding: 2px 5px;
    padding-bottom: 15px;
    border-bottom: solid 2px black;
   
}
#birtday input{
    background-color: whitesmoke;
    border: solid 1px black;
    border-radius: 5px;
    padding:3px 10px;
}
#reg{
    margin: 50px;
    width: 300px;
    height: 50px;
    background-color: #01aad3;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    border: none;
}
#reg:hover{
    background-color:#0171d3 ;
}
.eye{
    background-color:transparent;
    border: none;
    position: absolute;
    right: 38%;
    top: 43%;
    padding: 0;
    cursor: pointer;
   
}
#regForLog img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    
}
#regForLog button{
    margin:0 20px;
   border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #e8e5e5;
}